*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 1440px;
}
main{
    display: grid;
    grid-template-areas:  
    "a a b"
    "a a b"
    "c d d"
    "c e e"
    ;
    gap: 10px;
    width: 80%;
    height: 80%;
    margin: auto;
}
main div{
    padding: 2em;
    text-align: center;
    /* border-radius: 5px; */
}
.a{
    background-color: rgb(179, 65, 112);
    grid-area: a;
}
.b{
    background-color: rgb(231, 27, 129);
    grid-area: b;
}
.c{
    background-color: rgb(189, 63, 69);
    grid-area: c;
}
.d{
    background-color: rgb(25, 104, 126);
    grid-area: d;
}
.e{
    background-color: rgb(31, 175, 67);
    grid-area: e;
}